p {
    margin: 0;
}

.col-xs-4 {
    padding: 0;
}

.cards {
    margin-bottom: 50px;
    height: 175px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    /* background-color: #4063d6; */
}

.userPic {
    height: 75%;
    width: 75%;
}

.card-info {
    height: 100px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

@media screen and (max-width: 767px) {
    .cards {
        margin-top: 50px;
    }
}
